In [3]:
import sqlite3
import pandas as pd

def load_data():
    conn = sqlite3.connect(":memory:")
    cur = conn.cursor()

    with open("create_tables.sql", encoding="utf-8") as file:
        cur.executescript(file.read())

    return conn, cur

conn,_ = load_data()

In [25]:
pd.read_sql_query("SELECT tbl1.K0, avg(tbl2.c21) FROM tbl1, tbl2 WHERE tbl1.K1 = tbl2.K1 AND tbl1.c13 > 400 GROUP BY tbl1.K0", conn).to_dict()

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'},
 'avg(tbl2.c21)': {0: 593.495,
  1: 575.47,
  2: 530.7529999999999,
  3: 655.6125,
  4: 555.323076923077}}